.homeBackground {
    background-color: #0c011c;
}
.photo {
    display: flex;
    justify-content: center;
    height: 400px;
    padding-top: 45px;
}
h1, h3 {
    display: flex;
    justify-content: center;
}
h1 {
    color: rgb(255, 255, 255);
}
h3 {
    color: #ee671d;
    font-family: 'Courier New', Courier, monospace;
}
