.navbar {
    /* background-color: #170a27; */
    background-color: #445760c7;
}
.BrandName {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.linkFont {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}